@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Definimos los colores principales de la web */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
button,
input,
input::-webkit-input-placeholder {
  font-family: 'Nunito', sans-serif;
}

body,
button,
input,
input:-ms-input-placeholder {
  font-family: 'Nunito', sans-serif;
}

body,
button,
input,
input::-ms-input-placeholder {
  font-family: 'Nunito', sans-serif;
}

body,
button,
input,
input::placeholder {
  font-family: 'Nunito', sans-serif;
}

a:focus,
button:focus {
  outline: 1px dashed #333;
}

header .container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #b6bcc8;
}

header .container .left-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container .left-section a.logo {
  text-decoration: none;
  color: #333;
  font-size: 24px;
  padding: 10px;
  margin-right: 35px;
}

header .container .left-section a.logo h3 {
  font-weight: 700;
}

header .container .left-section a.logo img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

header .container .left-section ul.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container .left-section ul.menu li {
  list-style: none;
}

header .container .left-section ul.menu li a {
  display: block;
  min-width: 110px;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  color: #333;
  font-weight: 600;
}

header .container .right-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container .right-section button {
  background-color: transparent;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

header .container .right-section button.cart {
  margin-right: 30px;
}

header .container .right-section button.cart i {
  font-size: 24px;
}

header .container .right-section button.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

header .container .right-section button.profile-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
/*# sourceMappingURL=styles.css.map */